body {
  font: 14px tahoma,Arial,Roboto,'Droid Sans','Helvetica Neue','Droid Sans Fallback','Hiragino Sans GB','Heiti SC',sans-self;
}

.chart-content  {
  min-height: 200px;
}

#container,
#container_error {
  width: 1200px;
  margin: 0 auto;
  height: 400px;
}